<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM Automation Suite" verbose="1">
    <test name="UI Tests">
        <classes>
            <class name="com.orangehrm.tests.UserManagementTest"/>
        </classes>
    </test>
    <test name="Bonus API Tests">
        <classes>
            <class name="com.orangehrm.tests.CandidateApiTest"/>
        </classes>
    </test>
</suite>
